.equip {
  width: 8px;
  height: 8px;
  margin-left: 3px;
  background: #EEEEEE;
  border-width: 0.25px;
  border-color: #AAAAAA;
}

.AWA {
  background: #306938;
  border-color: #306938;
}
.FOC {
  background: #1e2f64;
  border-color: #1e2f64;}
.FIT {
  background: #811019;
  border-color: #811019;
}
.SPI {
  background: #da6e17;
  border-color: #da6e17;
}