@font-face {
  font-family: 'core';
  src:  url('fonts/core.eot?eavb1n');
  src:  url('fonts/core.eot?eavb1n#iefix') format('embedded-opentype'),
    url('fonts/core.ttf?eavb1n') format('truetype'),
    url('fonts/core.woff?eavb1n') format('woff'),
    url('fonts/core.svg?eavb1n#core') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="core-"], [class*=" core-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'core' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.core-conflict:before {
  content: "\e900";
}
.core-connection:before {
  content: "\e901";
}
.core-reason:before {
  content: "\e902";
}
.core-exploration:before {
  content: "\e903";
}
.core-conditional:before {
  content: "\e904";
}
.core-harm:before {
  content: "\e905";
}
.core-old_growth:before {
  content: "\e912";
}
.core-progress:before {
  content: "\e906";
}
.core-ranger:before {
  content: "\e907";
}
.core-reshuffle:before {
  content: "\e908";
}
.core-guide:before {
  content: "\e909";
}
.core-per_ranger:before {
  content: "\e90a";
}
.core-aspiration:before {
  content: "\e913";
}
.core-sun:before {
  content: "\e90b";
}
.core-crest:before {
  content: "\e90c";
}
.core-mountain:before {
  content: "\e90d";
}
.core-spi_chakra:before {
  content: "\e90e";
}
.core-foc_chakra:before {
  content: "\e90f";
}
.core-fit_chakra:before {
  content: "\e910";
}
.core-awa_chakra:before {
  content: "\e911";
}
.core-locked:before {
  content: "\e914";
}
.core-overgrown:before {
  content: "\e915";
}
.core-flooded:before {
  content: "\e916";
}
.core-presence:before {
  content: "\e917";
}
.core-uncommon_wisdom:before {
  content: "\e918";
}
