.card-text {
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
}
.card-text i {
  color: #777777;
  font-weight: 500;
}
.card-text b {
  font-weight: 900;
}

.line {
  margin-top: 4px;
  margin-bottom: 4px;
}